.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	border: 2px solid var(--accent-tangerine);
	border-radius: 50%;
	cursor: pointer;
}
.icons {
	height: 1.5rem;
}
.button:hover {
	transform: scale(1.5);
	transition: transform linear 0.25s;
}
